<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ideas</a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Your list of ideas</h1>
        <p>
          <a href="#">Create a new idea</a>
        </p>
        <div class="list-group">
          <a href="#" class="list-group-item">KFC sadness bowl</a>
          <a href="#" class="list-group-item">Basic Income</a>
          <a href="#" class="list-group-item">Monkey playing an accordion</a>
          <a href="#" class="list-group-item">Democracy</a>
          <a href="#" class="list-group-item">Cursive</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>