<!DOCTYPE html>
<html>
<head>
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ideas</a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>My first idea 
          <small>
            <a href="#">Edit</a> |
            <a href="#">Destroy</a> 
          </small></h1>
        <div>
          
        </div>
        <div>
          <a href="#">Back to list of ideas</a> | 
          <a href="#">Create a new idea</a>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>